<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Eliminar usuario</h1>
	<p>Has eliminado</p>
	<p th:text="${deletedCustomer.toString()}"></p>
	<a th:href="@{/}">Volver al inicio</a>
</body>
</html>