<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Listado de clientes</h1>
	<table>
		<tr>
			<th>Nombre</th>
			<th>Apellidos</th>
			<th>Edad</th>
		</tr>
		<tr th:each="customer: ${customerList}">
			<td th:text="${customer.name}"></td>
			<td th:text="${customer.surName}"></td>
			<td th:text="${customer.age}"></td>
			<td>
				<button>
					<a th:href="@{|/delete?id=${customer.id}|}">Eliminar</a>
				</button>
			</td>
		<tr>
	</table>
	<br>
	
	<h1>Buscar por nombre</h1>
	<div>
		<form method="get" th:action="@{|/search|}">
			<input type="text" name="name" placeholder="Nombre de la persona a bsucar">
			<input type="submit" value="Buscar">
		</form>
	</div>
	<br>
	
	<h1>Añadir cliente</h1>
    <form action="#" th:action="@{/add}" method="post" th:object="${newCustomer}">
        <label>Nombre</label>
        <input type="text" th:field="*{name}" /><br/>
 
        <label>Apellidos</label>
        <input type="text" th:field="*{surName}" /><br/>
 
        <label>Edad</label>
        <input type="number" th:field="*{age}" /><br/>
        
        <input type="submit" value="Añadir">
    </form>
	
</body>
</html>